body {
    display: block;
    font-family: 'VT323', monospace;
    color: white;
    background-color: #000009;
}

.bottombar {
    position: absolute;
    bottom: 4px;
}

#timestamp {
    font-size: 4em;
    text-align: right;
    float: right;
}

#mainfeature {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}